@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300&display=swap');

*, *::before, *::after {
    box-sizing: border-box;
}

html, body {
    margin: 0;
    padding: 0;
}

body {
    background-color: rgb(243, 243, 243);
    color: rgb(179, 123, 55);
    font-family: Poppins;
    font-size: 0.75rem;
    line-height: 1.25;
    overflow-x: hidden;
}

.container {
    padding: 0 1.5rem;
    max-width: 63.975rem;

    @media (min-width: 64em) {
        margin: 7.5rem auto;
    }

    @media (min-width: 40em) and (max-width: 63.9375em) {
        margin: 15rem auto;
    }

    @media (max-width: 39.9375em) {
        margin: 2.5rem auto;
    }
}

.card {
    display: grid;

    @media (min-width: 64em) {
        grid-template-columns: 7fr 3fr;
        grid-template-rows: repeat(3, auto);
        grid-template-areas: 
        "C1 IM"
        "C2 IM"
        "C3 IM";
        column-gap: 1.5rem;
        row-gap: 1.5rem;
    }    

    @media (min-width: 40em) and (max-width: 63.9375em) {
        grid-template-columns: 1fr 1fr;
        grid-template-row: 1fr 1fr;
        grid-template-areas: 
        "C1 IM"
        "C2 C3";
        column-gap: 1.5rem;
        row-gap: 1.5rem;
    } 

    @media (max-width: 39.9375em) {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(4, 1fr);
        grid-template-areas: 
        "C1"
        "C2"
        "C3";
        column-gap: 1.5rem;
        row-gap: 1.5rem;
    }

    &__item {
        background-color: rgb(245, 231, 217);
        border-radius: 0.5rem;
        padding: 1.5rem;
        box-shadow: rgba($color: #000000, $alpha: 0.075) 0 0.75rem 0.75rem -0.5rem;
        transition: background-color 0.3s ease-in-out, transform 0.3s ease-in-out;

        &.active, &:hover {
            background-color: rgb(208, 178, 143s);
            transform: scale(1.025);

            h2, p {
                color: rgb(62, 46, 27);
            }

        }

        &__title, &__lead {
            transition: color 0.3s ease-in-out;
        }

        &:nth-child(1) {
            grid-area: C1;
        }

        &:nth-child(2) {
            grid-area: C2;
        }

        &:nth-child(3) {
            grid-area: C3;
        }

    }

    &__image {
        position: relative;
        grid-area: IM;
    }

}

.image {
    position: absolute;
    background-color: rgb(208, 178, 143s);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    border-radius: 0.5rem;
    box-shadow: rgba($color: #000000, $alpha: 0.075) 0 0.75rem 0.75rem -0.5rem;
    top: 0;
    left: 0;
    
    @media (max-width: 39.9375em) {
        display: none;
    }

    &-1 {
        background-image: url(https://images.pexels.com/photos/3032153/pexels-photo-3032153.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940);
        opacity: 0;

        &.active {
            opacity: 1;
        }
    }

    &-2 {
        background-image: url(https://images.pexels.com/photos/4550658/pexels-photo-4550658.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940);
        opacity: 0;

        &.active {
            opacity: 1;
        }
    }

    &-3 {
        background-image: url(https://images.pexels.com/photos/6088144/pexels-photo-6088144.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940);
        opacity: 0;

        &.active {
            opacity: 1;
        }
    }
}

.show {    
    animation: show 0.75s ease-in-out forwards;
}

.hide {    
    animation: hide 0.375s ease-in-out forwards;
}

@keyframes show {
    0% {
        // display: none;
        opacity: 0;
    }

    // 1% {
    //     display: block;
    //     opacity: 0;
    // }

    100% {
        // display: block;
        opacity: 1;
    }
}

@keyframes hide {
    0% {
        // display: none;
        opacity: 1;
    }

    // 1% {
    //     display: block;
    //     opacity: 1;
    // }

    100% {
        // display: block;
        opacity: 0;
    }
}
